<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerenciamento.Dao.Properties.Settings.banco" connectionString="Data Source=DEVCASA;Initial Catalog=DB_Gerencia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>